node_modules
.env

# Build output
dist/
build/
out/
target/

venv/
__pycache__/
*.pyc

instance/

migrations/__pycache__/

.pytest_cache/

.vscode/

.idea/

process.md
post_generation_msg.md
03-08_v0_changes.md

logs

markdowns

seed.py

backend/coverage/
frontend/user/coverage/
frontend/admin/coverage/